<%- include('../include/header') %>

  <section class="w3l-products py-5" id="projects">
    <div class="container py-lg-3">
      <div class="header-section text-center mb-5">
        <h3>Painel Administrativo</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!--Horizontal Tab-->
          <div id="parentHorizontalTab">
            <div style="display: flex;align-items: center;justify-content: center;">
              <ul class="resp-tabs-list hor_1">
                <li style="width: auto;">POSTS</li>
                <!-- <li style="width: auto;">Registrar</li> -->
                <div class="clear"></div>
              </ul>
            </div>
            <div class="resp-tabs-container hor_1">
              <div class="products-content">
                <div class="row"
                  style="justify-content: center;align-items: center; flex-wrap: wrap; flex-direction: column;">
                  <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-0">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <form method="POST" id="criar-post" action="/api/posts">
                        <div class="post-content">
                          <h4 class="blog_post_title my-2">Criar Post</h4><br>
                          <label for="titulo">Titulo:</label>
                          <input type="text" name="titulo" id="titulo" required><br>
                          <label for="conteudo">Conteudo:</label><br>
                          <textarea id="conteudo" name="conteudo" rows="5" cols="33" required>
                            </textarea>
                        </div>

                        <div class="read-button mt-5"><button type="submit">Criar Post<span
                              class="fa fa-long-arrow-right" aria-hidden="true"></span></button></div>
                      </form>
                    </div>
                  </a>
                  <div>
                    <table class="text-white mt-5" style="width: 1000px;">
                      <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>CONTEUDO</th>
                        <th colspan="2" class="text-center">AÇÕES</th>
                      </tr>
                      <% if(posts.lenght==0){ %>
                        <div style="display: flex; align-items: center; justify-content: center;">
                          <h4>Nenhum post por aqui...</h4>
                        </div>
                        <% } %>
                          <% posts.forEach((post)=> { %>
                            <tr>
                              <td>
                                <%= post.id %>
                              </td>
                              <td>
                                <%= post.titulo %>
                              </td>
                              <td>
                                <%= post.conteudo %>
                              </td>
                              <td class="text-center">
                                <div class="read-button bt-delete" data-id="<%= post.id %>"><span class="fa fa-trash" data-id="<%= post.id %>"
                                    aria-hidden="true"></span>
                              </td>
                              <td class="text-center">
                                <div class="read-button bt-edit" data-id="<%= post.id %>"><span class="fa fa-edit" data-id="<%= post.id %>"
                                    aria-hidden="true"></span>
                              </td>
                            </tr>

                            <% }); %>
                    </table>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <%- include('../include/footer') %>
    <script>
      const form = document.querySelector('#criar-post');
      const btDelete = document.querySelector('.bt-delete');
      const btEdit = document.querySelector('.bt-edit');
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const dataObjeto = {};
        formData.forEach((valor, chave) => {
          dataObjeto[chave] = valor;
        });
        const jsonData = JSON.stringify(dataObjeto);
        const url = form.action;
        const headers = {
          'Authorization': 'Bearer ' + localStorage.getItem('chave'),
          'Content-Type': 'application/json'
        };
        fetch(url, {
          method: 'POST',
          body: jsonData,
          headers: headers,
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
          })
          .catch(error => {
            console.error('Erro:', error);
          });
      });

      btDelete.addEventListener('click', function (event) {
        event.preventDefault();
            const dataPost = event.target;
            let idPost = dataPost.getAttribute('data-id');
            
            console.log(dataPost.getAttribute('data-id'));
        const headers = {
          'Authorization': 'Bearer ' + localStorage.getItem('chave'),
          'Content-Type': 'application/json'
        };
        fetch('/api/posts/'+idPost, {
          method: 'DELETE',
          headers: headers,
        })
          .then(response => response.text())
          .then(data => {
            console.log(data);
          })
          .catch(error => {
            console.error('Erro:', error);
          });
      });

    </script>