<%- include('../include/header') %>

  <section class="w3l-products py-5" id="projects">
    <div class="container py-lg-3">
      <div class="header-section text-center mb-5">
        <h3>Painel Administrativo</h3>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!--Horizontal Tab-->
          <div id="parentHorizontalTab">
            <div style="display: flex;align-items: center;justify-content: center;">
              <ul class="resp-tabs-list hor_1">
                <li style="width: auto;">POSTS</li>
                <!-- <li style="width: auto;">Registrar</li> -->
                <div class="clear"></div>
              </ul>
            </div>
            <div class="resp-tabs-container hor_1">
              <div class="products-content">
                <div class="row" style="justify-content: center;align-items: center;">
                  <a href="#blog-single.html" class="col-lg-4 bg-color-three mt-lg-0 mt-0">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <form method="POST" action="/api/post">
                        <div class="post-content">
                          <h4 class="blog_post_title my-2">Criar Post</h4><br>
                          <label for="titulo">Titulo:</label>
                          <input type="text" name="titulo" id="titulo" required><br>
                          <label for="conteudo">Conteudo:</label><br>
                          <textarea id="conteudo" name="conteudo" rows="5" cols="33" required>
                            </textarea>
                        </div>

                        <div class="read-button mt-5"><button type="submit">Criar Post<span
                            class="fa fa-long-arrow-right" aria-hidden="true"></span></button></div>
                      </form>
                    </div>
                    <div>
                      <% if(posts.lenght == 0){ %>
                        <div style="display: flex; align-items: center; justify-content: center;">
                          <h4>Nenhum post por aqui...</h4>
                        </div>
                        <% } %>
                      <% posts.forEach((post)=> { %>
                        <a href="#" class="col-lg-6 blog-article-posts bg-color-one">
                          <div class="blog-post d-flex flex-wrap align-content-between">
                            <div class="post-content w-100">
                              <ul class="author-date mb-4 d-flex align-items-center">
                                <li>by <b>
                                    <%= post.nome %>
                                  </b></li>
                                <li><span class="fa fa-clock-o" aria-hidden="true"></span>
                                  <%= post.data_criacao %>
                                </li>
                              </ul>
                              <h4 class="blog_post_title mb-4">
                                <%= post.titulo %>
                              </h4><br>
                              <p class="sub-para">
                                <%= post.conteudo %>
                              </p>
                            </div>
                            <div class="read-button mt-5">Ler Mais <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                            </div>
                          </div>
                        </a>
              
                        <% }); %>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <%- include('../include/footer') %>